<tr name="item-<%= guid%>">
    <td><%= index %></td>
    <td><%= title %></td>
    <td><%= isbn %></td>
    <td>$<%= price %></td>
    <td><input type="text" class="input-mini" value="<%= quantity%>" /></td>
    <td><a href="#" class="btn btn-mini btn-warning"><i class="icon-trash icon-white"></i></a></td>
</tr>