<div class="row">
    <div class="span8">
        <form>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>ISBN</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="cart-item-list">

                </tbody>
                <tfoot>
                <tr>
                    <td colspan="3"><div class="pull-right"><b>Total</b></div></td>
                    <td colspan="3"><%=total%></td>
                </tr>
                </tfoot>
            </table>
            <div class="pull-right">
                <button class="btn btn-success"><i class="icon-shopping-cart icon-white" /> Check Out</button>
                <button class="btn btn-danger">Clear</button>
            </div>
        </form>
    </div>
    <div class="span4">
        <form>
            <input type="text" class="search-query" placeholder="Search by ISBN or Title" />
        </form>
    </div>
</div>
