<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">Booky</a>

            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#inventory">Inventory</a></li>
                    <li><a href="#report">Report</a></li>
                </ul>
                <ul class="nav pull-right">
                    <li class="pull-right"><a href="#settings">Settings</a></li>
                    <li class="pull-right"><a href="#help">Help</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>